/* Logo */
[data-testid="stSidebar"] {
    background-image: url(https://streamlit.io/images/brand/streamlit-logo-secondary-colormark-darktext.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 4px 20px;
    padding-top: 140px !important;
}

/* Card */
.card {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 1.5rem;
    border-radius: 5px;
    border-left: 0.5rem solid #9AD8E1;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

/* Label styling */
label {
    color: #36b9cc !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

/* Hide hamburger menu and footer */
[data-testid="stToolbar"] {
    display: none;
}

footer {
    display: none;
}

div.vg-tooltip-element {
    display: none;
}